.dashit__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-gap:1rem;
}

.dashit__widget {
    grid-column: span 4;
}

@media (min-width:400px) {
    .dashit__widget--small,
    .dashit__widget--medium {
        grid-column: span 2;
    }
}

@media (min-width:600px) {
    .dashit__widget--large {
        grid-column: span 3;
    }
}

@media (min-width:1200px) {
    .dashit__widget--small {
        grid-column: span 1;
    }

    .dashit__widget--medium {
        grid-column: span 2;
    }

    .dashit__widget--large {
        grid-column: span 3;
    }
}